
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Nunito:ital,wght@1,200&family=Open+Sans:wght@300;400;500&family=Ubuntu:wght@300&family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: bolder;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: rgb(87, 83, 83);
}
.container {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
 position: relative;
}
.brand{
    text-align: center;
    font-size: 4rem;
    color: whitesmoke;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    text-shadow: 3px 5px black;
}
form{
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    background-color: rgb(171, 169, 169);
    border-radius:10px 0px 0 10px;
}
form input{
    width: 90%;
    background-color:transparent;
    padding: 10px;
    border-radius:0  15px;
    border: none;
    outline: none;
    font-size: 1rem;
    display: inline-block;
}
 form span{
position: absolute;
  margin-top: 15px;
  top: 90px;
  cursor: pointer;
}
.search-result{
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-gap: 25px;
    grid-template:auto/repeat(auto-fit,minmax(300px,1fr));
}
.item{
    width: 100%;
    border-radius: 8px;
    background-color: rgb(155, 152, 152);
    padding: 15px;
    overflow: hidden;
}
.item img{
    width: 100%;
    height: 300px;
    border-radius: 4px;
}
.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}
.title{
    color: whitesmoke;
    margin: 20px 10px 0 0;
    font-size: 1.2rem;
}
.view-button{
text-decoration: none;
text-align: center;
font-weight: bold;
width: 130px;
padding: 10px ;
background-color: rgb(41, 91, 92);
color: blanchedalmond;
border-radius:10px;
font-size: 0.9rem;
margin-top: 10px;
/* align-self: flex-start; */
}
.item-data{
    color: rgb(0, 0, 0);
    display: block;
    margin-top: 10px;
    font-style: 1.4rem;
    letter-spacing: .05rem;
    line-height: 2rem;
}